<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class='container'>

    <div class='navbar-brand'>
      <div class='dropdown'>
                <button class="btn btn-default dropdown-toggle" type="button"
          id='section-progress-picker' data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
            <% if controller_name == 'sections' &&
              ( action_name == 'attendance' || action_name == 'progress' ||
                action_name == 'seating' )
            %>
              <span id='navbar-current-section'><%= Section.find(params[:id]).short_name %></span>
              <span class="caret"></span>
            <% else %>
              <span id='navbar-current-section'>Select Section</span>
              <span class="caret"></span>
            <% end %>
          </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= section_progress_picker %>
        </div>
      </div>
    </div>

    <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <% if controller_name == 'sections' &&
          ( action_name == 'attendance' || action_name == 'progress' ||
            action_name == 'seating' )
        %>

          <li class="nav-item active">
            <%= link_to 'Progress', progress_section_path(params[:id]), class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Attendance', attendance_section_path(params[:id]), class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Seating', seating_section_path(params[:id]), class: 'nav-link' %>
          </li>

        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
              href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Configure
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%#= link_to 'Assignments', assignments_path, class: 'dropdown-item' %>
            <%= link_to 'Attendance Records', attendance_records_path, class: 'dropdown-item' %>
            <%= link_to 'Enrollment Records', enrollments_path, class: 'dropdown-item' %>
            <%= link_to 'Sections',  sections_path,   class: 'dropdown-item' %>
            <%= link_to 'Students',  students_path,   class: 'dropdown-item' %>
            <%#= link_to 'Units', units_path, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Blocks',    blocks_path,     class: 'dropdown-item' %>
            <%= link_to 'Courses',   courses_path,    class: 'dropdown-item' %>
            <%= link_to 'Terms',     terms_path,      class: 'dropdown-item' %>
            <%= link_to 'TermNames', term_names_path, class: 'dropdown-item' %>
            <%= link_to 'Years',     years_path,      class: 'dropdown-item' %>
          </div>
        </li>

      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <% if user_signed_in? %>
          <li class='nav-item'>
            <%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %></li>
          <li class='nav-item'>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li class='nav-item'>
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>

    </div>
  </div>

</nav>
