<!DOCTYPE html>
<html>
  <head>
    <title>ClassStatus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h2>
        <%= link_to "Status", root_path %>
        <%= link_to "Students", students_path %>
        <%= link_to "Sections", sections_path %>
        <%= link_to "Courses", courses_path %>
      </h2>
    </nav>
    <%= yield %>
  </body>
</html>
