<h1><span>Term Names</span>
  <span><%= link_to '+', new_term_name_path %></span></h1>

<table class='table table-sm table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'><%= sortable "name" %></th>
      <th scope='col'><%= sortable "short_name" %></th>
      <th scope='col' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @term_names.each do |term_name| %>
      <tr>
        <td><%= term_name.name %></td>
        <td><%= term_name.short_name %></td>
        <td><%= link_to 'Show', term_name %></td>
        <td><%= link_to 'Edit', edit_term_name_path(term_name) %></td>
        <td><%= link_to 'Destroy', term_name, method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
