<h1><span>Terms</span><span><%= link_to '+', new_term_path %></span></h1>

<table class='table table-sm table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'><%= sortable 'academic_year_id' %></th>
      <th scope='col'><%= sortable 'term_name_id' %></th>
      <th scope='col'><%= sortable 'start_date' %></th>
      <th scope='col'><%= sortable 'end_date' %></th>
      <th scope='col' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.academic_year.name %></td>
        <td><%= term.term_name.name %></td>
        <td><%= term.start_date %></td>
        <td><%= term.end_date %></td>
        <td><%= link_to 'Show', term %></td>
        <td><%= link_to 'Edit', edit_term_path(term) %></td>
        <td><%= link_to 'Destroy', term, method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
