<p id="notice"><%= notice %></p>

<p>
  <strong>Academic year:</strong>
  <%= @term.academic_year_id %>
</p>

<p>
  <strong>Term name:</strong>
  <%= @term.term_name_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @term.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @term.end_date %>
</p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
