<p>
  <strong>Year:</strong>
  <%= @term.year.name %>
</p>

<p>
  <strong>Term name:</strong>
  <%= @term.long_name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @term.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @term.end_date %>
</p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
