<h1>Students</h1>

<table>
  <tr>
    <th>Name</th>
    <th>GitHub User</th>
    <th colspan="2"></th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.given_name %> <%= student.family_name %></td>
      <td><a href="https://github.com/<%= student.github_user %>">
        <%= student.github_user %>
      </td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Delete', student_path(student),
              method: :delete, data: { confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>
