
<%= simple_form_for(@attendance_record) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class='form-inputs'>
    <%= f.association :section %>
    <%= f.association :student %>
    <%= f.input :attendance_date %>
    <%= f.input :primary %>
    <%= f.input :secondary %>
    <%= f.input :annotation %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
