<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @attendance_record.student.name %>
</p>

<p>
  <strong>Section:</strong>
  <%= @attendance_record.section.name %>
</p>

<p>
  <strong>Attendance date:</strong>
  <%= @attendance_record.attendance_date %>
</p>

<p>
  <strong>Attendance entered:</strong>
  <%= @attendance_record.attendance_entered %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @attendance_record.primary %>
</p>

<p>
  <strong>Secondary:</strong>
  <%= @attendance_record.secondary %>
</p>

<%= link_to 'Edit', edit_attendance_record_path(@attendance_record) %> |
<%= link_to 'Back', attendance_records_path %>
