<h1><span>Courses</span><span><%= link_to '+', new_course_path %></span></h1>

<table class='table table-sm table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'><%= sortable "name" %></th>
      <th scope='col'><%= sortable "short_name" %></th>
      <th scope='col' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr  scope='row'>
        <td><%= course.name %></td>
        <td><%= course.short_name %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
