<h1>Sections</h1>

<table class='table table-sm table-striped table-section-index'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>Course</th>
      <th scope='col'>Year</th>
      <th scope='col'>Term</th>
      <th scope='col'>Block</th>
      <th  scope='col' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |s| %>
      <tr>
        <td scope='row'><%= s.course.name %></td>
        <td scope='row'><%= s.year.name %></td>
        <td scope='row'><%= s.term.name %></td>
        <td scope='row'><%= s.block.name %></td>
        <td scope='row'><%= link_to 'Show', s %></td>
        <td scope='row'><%= link_to 'Edit', edit_section_path(s) %></td>
        <td scope='row'><%= link_to 'Delete', s, method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
