<h1>Sections</h1>

<table>
  <tr>
    <th>Section</th>
    <th>Block</th>
    <th>Semester</th>
    <th>Year</th>
    <th>Course</th>
    <th>Students</th>
    <th colspan="2"></th>
  </tr>

  <% @sections.each do |section| %>
    <tr>
      <td><%= link_to section.name, section_path(section) %></td>
      <td><%= section.block %></td>
      <td><%= section.semester %></td>
      <td><%= section.year %></td>
      <td><%= Course.find(section.course_id).name %></td>
      <td><%= Enrollment.where(section: section).count %></td>
      <td><%= link_to 'Edit', edit_section_path(section) %></td>
      <td><%= link_to 'Delete', section_path(section),
                method: :delete, data: { confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to '+', new_section_path %></p>
