
<h3><%= @section.name %></h3>

<table>
  <% @enrollments.each do |e| %>
    <tr>
      <td><%= e.student.given_name %> <%= e.student.family_name %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
