
<h4><%= @section.name %></h4>

<table class='table table-sm table-striped'>
  <% @active.each do |a| %>
    <tr scope='row' <%= "class=table-warning" if (a.joined_course > a.section.term.start_date) %>>
      <td><%= link_to a.student.display_name, edit_student_path(a.student.id) %></td>
      <td><%= a.joined_course %></td>
      <td><%= a.joined_section %></td>
      <td><%= link_to 'Edit Enrollment', edit_enrollment_path(a) %></td>
      <td>Drop</td>
    </tr>
  <% end %>
</table>

<% if @dropped.count > 0 %>
  <details>
    <summary>Dropped</summary>
    <table class='table table-sm table-striped'>
      <% @dropped.each do |d| %>
        <tr scope='row'>
          <td><%= link_to d.student.display_name, edit_student_path(d.student.id) %></td>
          <td><%= a.joined_course %></td>
          <td><%= a.joined_section %></td>
          <td><%= a.dropped_course %></td>
          <td><%= link_to 'Edit Enrollment', edit_enrollment_path(d) %></td>
        </tr>
      <% end %>
    </table>
  </details>
<% end %>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
