<h3><%= @section.long_name %></h3>

<%= simple_form_for @section do |s| %>
  <%= s.simple_fields_for :enrollment do |e| %>
    <%= e.input :student %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
