
<%= simple_form_for(@enrollment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class='form-inputs'>
    <%= f.association :student %>
    <%= f.association :section %>
    <%= f.input :joined_course,
      start_year: Date.today.year - 4, end_year: Date.today.year + 2 %>
    <%= f.input :joined_section, include_blank: true,
      start_year: Date.today.year - 4, end_year: Date.today.year + 2 %>
    <%= f.input :dropped_course, include_blank: true,
      start_year: Date.today.year - 4, end_year: Date.today.year + 2 %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
