<h1><span>Enrollments</span>
  <span><%= link_to '+', new_enrollment_path %></span></h1>

<table class='table table-sm table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th scope='row'>Student</th>
      <th scope='row'>Section</th>
      <th scope='row'>Joined Course</th>
      <th scope='row'>Joined Section</th>
      <th scope='row'>Dropped Course</th>
      <th scope='row' colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student.name %></td>
        <td><%= enrollment.short_name %></td>
        <td><%= enrollment.joined_course %></td>
        <td><%= enrollment.joined_section %></td>
        <td><%= enrollment.dropped_course %></td>
        <td><%= link_to 'Show', enrollment %></td>
        <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
        <td><%= link_to 'Destroy', enrollment,
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
