
<%= simple_form_for(@student) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message:
    f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class='form-inputs'>
    <%= f.input :guid, label: 'GUID' %>
    <%= f.input :preferred_name %>
    <%= f.input :given_name %>
    <%= f.input :family_name %>
    <%= f.input :dob, label: 'Birthday',
      start_year: Date.today.year - 22, end_year: Date.today.year - 12 %>
    <%= f.input :gender, collection: Student.genders.keys %>
    <%= f.input :cohort %>
    <%= f.input :gpa, label: 'GPA' %>
    <%= f.input :gpa_updated, label: 'GPA Updated' %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
