<p id="notice"><%= notice %></p>

<p>
  <strong>GUID:</strong>
  <%= @student.guid %>
</p>

<p>
  <strong>Preferred name:</strong>
  <%= @student.preferred_name %>
</p>

<p>
  <strong>Given name:</strong>
  <%= @student.given_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @student.family_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.dob %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @student.cohort %>
</p>

<p>
  <strong>GPA:</strong>
  <%= @student.gpa %>
</p>

<p>
  <strong>GPA Updated:</strong>
  <%= @student.gpa_updated %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
