<h1><span>Academic Years</span>
  <span><%= link_to '+', new_academic_year_path %></span></h1>

<table class='table table-sm table-striped'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'><%= sortable "name" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @academic_years.each do |academic_year| %>
      <tr scope='row'>
        <td><%= academic_year.name %></td>
        <td><%= link_to 'Show', academic_year %></td>
        <td><%= link_to 'Edit', edit_academic_year_path(academic_year) %></td>
        <td><%= link_to 'Destroy', academic_year,
          method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
