<!-- apps/views/status/index.html.erb -->

<div class="status-controls">
  <h2>
    Block:
    <!-- params[:id] = <%= params[:id] %> -->
    <% (1..8).each do |b| %>
      <% if (b == params[:id].to_i) %>
        <%= link_to b, status_path(b), class: "active" %>
      <% else %>
        <%= link_to b, status_path(b) %>
      <% end %>
    <% end %>

    <%= Section.find(@active_section).course.name %>
  </h2>
</div>

<div class="grid">

  <% max_seats = 30; seat = 0 %>
  <% @enrollments.each do |e| %>
    <% s = e.student %>
    <div class="item" seat="<%= seat %>">
      <div class="item-content">
        <!-- Safe zone, enter your custom markup -->
        <p class="student-name"><%= format_name(s) %></p>
        <p><a href="https://github.com/<%= s.github_user %>"><%= s.github_user %></a></p>
        <!-- Safe zone ends -->
      </div>
    </div>
    <% seat = seat + 1 %>
  <% end %>

  <% until (seat == max_seats) %>
    <div class="item empty-seat" seat="<%= seat %>">
      <div class="item-content">
        <!-- Safe zone, enter your custom markup -->

        <!-- Safe zone ends -->
      </div>
    </div>
    <% seat = seat + 1 %>
  <% end %>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://unpkg.com/muuri@0.6.3/dist/muuri.min.js"></script>

<script type="text/javascript">
  initGrid();

  function initGrid() {
    var grid = new Muuri('.grid', {
      dragEnabled: true,
      layoutOnInit: false
    }).on('move', function () {
      saveLayout(grid);
    });

    var layout = window.localStorage.getItem('layout');
    if (layout) {
      loadLayout(grid, layout);
    } else {
      grid.layout(true);
    }
  }

  function serializeLayout(grid) {
    var itemIds = grid.getItems().map(function (item) {
      return item.getElement().getAttribute('seat');
    });
    return JSON.stringify(itemIds);
  }

  function saveLayout(grid) {
    var layout = serializeLayout(grid);
    window.localStorage.setItem('layout', layout);
  }

  function loadLayout(grid, serializedLayout) {
    var layout = JSON.parse(serializedLayout);
    var currentItems = grid.getItems();
    var currentItemIds = currentItems.map(function (item) {
      return item.getElement().getAttribute('seat')
    });
    var newItems = [];
    var itemId;
    var itemIndex;

    for (var i = 0; i < layout.length; i++) {
      itemId = layout[i];
      itemIndex = currentItemIds.indexOf(itemId);
      if (itemIndex > -1) {
        newItems.push(currentItems[itemIndex])
      }
    }

    grid.sort(newItems, {layout: 'instant'});
  }
</script>
